.checkoutProduct {
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px; 
}

.checkoutProduct__info {
    padding-left: 20px;
}

.checkoutProduct__info > button {
    background: #f0c14b;
    border: 1px solid;
    margin-top: 10px;
    border-color: #a88734 #9c7e31 #846a29;
    color: #111;
    padding: 10px;
}

.checkoutProduct__info > button:hover {
    transition: 110ms ease-in;
    transform: scale(1.04);
    box-shadow: 1px 1px 6px gray;
}

.checkoutProduct__info > button:active {
    background-color: #a88734;
}

.checkoutProduct__image {
    object-fit: contain;
    width: 110px;
    height: 180px;
}

.checkoutProduct__rating {
    display: flex;
}

.checkoutProduct__title {
    font-size: 17px;
    font-weight: 800;
}